html {
  text-align: center;
  background: rgb(174,192,215);
  background: radial-gradient(circle, rgba(174,192,215,1) 0%, rgba(8,10,34,1) 100%);
  height: 100%;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
  color: white;
}

.characters {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.characters li {
  background-color: rgba(8, 10, 34, 0.473);
  width: 20vw;
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: .5em;
  margin-right: .5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}